@media screen and (max-width: 500px) {
  .container {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }

  .table {
    margin: 0 auto 10px;
    display: block;
    overflow-x: auto;
    width: 95%;
  }

  .form {
    width: 90%;
  }
}
